[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = {extras = ["pyarrow"] }
plotly = {extras = ["express"] }
pycld2 = "*"
matplotlib = "*"
wordcloud = "*"
mlflow = "*"
scikit-learn = "*"
spacy = "*"
joblib = "*"
torch = "*"
gensim = "*"
keras = "*"
tensorflow-cpu = "*"
transformers = "*"
onnx = "*"
onnxscript = "*"
numpy = "*"
scipy = "*"
onnxruntime-gpu = "*"
uvicorn = "*"
pytest = "*"
httpx = "*"

[dev-packages]
nbstripout = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
