[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = {extras = ["pyarrow"], version = "*"}
plotly = {extras = ["express"], version = "*"}
pycld2 = "*"
matplotlib = "*"
wordcloud = "*"
mlflow = "*"
scikit-learn = "*"
spacy = "*"
joblib = "*"

[dev-packages]
nbstripout = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
